*
{
    margin: 0;
    padding: 0;
}
.start
{
    background-color: mediumspringgreen;
    margin: 1px;
    padding: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(8, 89, 204);
    text-decoration: wavy;
    text-shadow: 10cap;
    
    
}

.nav
{
    background-color: purple;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid white;
    
   
     

}
.nav li{
    list-style:none ;
    display: inline-block;
}
.nav li a
{
    padding: 20px 50px;
    color:white;
    font-size: large;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align:center;
    
}
.search
{
    
    float:right;
    padding : 1px 1px 1px 170px;
}
.nav input
{
    border-radius: 15px;
    padding: 8px 180px;
    border: 2px white;
   

}
.nav li a:hover
{
    color: rgb(189, 126, 60);
    cursor: pointer;
}
.main
{
    border: 1px solid rgb(20 184 166);
    padding: 1px;
    display: flex;
}

.right-div
{
    width: 30%;
    background-color: white;
    padding:5px 5px;
    position: left;
}
.right-div ul li
{
    display: block;
    padding: 20px ;

    
   
}
.right-div li a
{
   
   color: purple;
   text-decoration: none;
   font-size: 20px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   text-transform: uppercase;
   display: block;
   transition: all 0.6s ease;



}
.right-div li  :hover
{
    background-color: purple;
    color: white;
    border-radius: 2px solid white;
    width: 100%;
    padding: 20px;
}


.left-div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    background-color: white;
    padding: 10px 5px;
  
}
.box1 .box2 .box3 .box4
{
    display: block;
    background-color: rgb(219, 223, 223);
    border: 10px solid white;
    border-radius: 3px;
    
}
.left-div img
{
    width: 520px;
    height: 400px;
    border: 1px solid purple;
    border-radius: 2px;
    object-fit: cover;
    
   
    
}
.box1 h1
{
    text-align: center;
    color:  white;
    background-color: rgb(152, 75, 152);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    padding:10px;
}
.box2 h1
{
    text-align: center;
    color:  white;
    background-color:  rgb(152, 75, 152);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    padding:10px;
}
.box3 h1
{
    text-align: center;
    color:  white;
    background-color: rgb(152, 75, 152);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    padding:10px;
}
.box4 h1
{
    text-align: center;
    color:  white;
    background-color:  rgb(152, 75, 152);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    padding:10px;
}
.left-div h1:hover
{
    background-color: white;
    color:purple;
    border-radius: 2px solid white;
    width: 100%;
    padding: 10px;
    border:2px solid purple
}
.left-div img:hover
{
    cursor: pointer;
    background-color: rgb(27, 27, 30);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3 ease-out;
}
.slide-img
{
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper
{
    width: 30%;
    height: fit-content;
}
.swiper-slide img
{
    width: 100%;
}
.footer
{
    background-color: #800080;
    padding: 70px 0;
}
.container
{
    max-width: 1170px;
    margin: auto;
}
.footer ul
{
    list-style: none;
}
 footer .row
{
    display: flex;
    flex-wrap: wrap;
}
.footer-col
{
    width:25% ;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: large;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    position: relative;
}
.footer-col li
{
    margin-bottom: 10px;
    
}

.footer-col li a
{
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-weight: 200;
    display: block;
    transition: all 0.3s ease;
}
   
.footer-col li a:hover
{
    
    color: navy;
    cursor: pointer;
    padding-left: 10px;  
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover
{
    cursor: pointer;
    background-color:navy;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
}
body
{
    
    background-color: whitesmoke ;
}